@charset "UTF-8";

@media screen and (min-width:992px){
    footer{
        display: none;
    }
    .menu{
        display: flex;
        align-items: center;
        gap: 2.2em;
    }
    .menu a{
        color: white;
        padding: 5px;
        font-weight: 400;
    }
    .menu a:hover{
        background-color: rgba(255, 255, 255, 0.209);
        color: white;
        border-radius: 15px;
        font-weight: 400;
        padding: 5px;
        transition: 0.5s;
    }
    #img{
        height: 400px;
        margin: 0;
    }
    .camisa-frente{
        margin: auto;
        margin-top: 3em;
        margin-left: 8em;
    }
    .img-2{
        position: absolute;
        top: 51%;
        left:2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        transform: translateY(-50%);
    }
    .principal{
        margin: auto;
        position: absolute;
        top: 20%;
        right: 3%;
    }
    .principal h1{
        font-size: 1.6em;
        margin-left: -2.7em;
    }
    .text p{
        margin-left: -11em;
    }
    .text h3{
        margin-left: -14em;
    }
    .btn{
        margin-left: 10px;
    }
}

@media screen and (min-width:1200px){
    .principal{
        right: 10%;
    }
    #img{
        height: 500px;
    }
    .img-2{
        top: 55%;
    }
}